:root {
  --heading: rgb(0 10 45);
  --para: #777777;
  --para-tint: #e4e4e4;
  --white: #fff;
  --helper: #8490ff;
  --helper-tint: #f3f4ff;
  --bg: rgb(249 249 255);
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.nav-bar {
  @apply bg-[#F9F9FF] flex justify-between items-center p-6 lg:py-8;
}
.nav-bar-title {
  @apply flex-shrink-0 text-white text-xl bg-black px-2 font-bold  ms:tracking-[1px] ts:tracking-[2px] sm:tracking-[4px];
}
.toggle-button {
  @apply lg:hidden w-10 p-2 border-2 border-black relative z-10;
}
.nav-menu {
  background: var(--gradient);
  @apply w-full h-full absolute left-0 top-0 flex items-center justify-center translate-x-full transition-all duration-1000 opacity-0  
  lg:w-auto lg:relative lg:translate-x-0 lg:opacity-100
  lg:bg-none;
}
.nav-menu.mobile {
  @apply translate-x-0 opacity-100;
}
.nav-links {
  @apply flex flex-col lg:flex-row;
}
.nav-link {
  @apply my-6 lg:my-0 lg:mx-4 font-bold text-xl lg:text-base uppercase text-center;
}
