:root {
  --heading: rgb(0 10 45);
  --para: #777777;
  --para-tint: #e4e4e4;
  --white: #fff;
  --helper: #8490ff;
  --helper-tint: #f3f4ff;
  --bg: rgb(249 249 255);
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  --gradient-support: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
}

/* Common CSS  */

body {
  margin: 0;
  padding: 0;
  margin-top: 80px;
  box-sizing: border-box;
  overflow-x: hidden;
  letter-spacing: 1px;
}

h1 {
  @apply text-5xl font-bold;
}
h2 {
  @apply text-xl font-bold;
}
h3 {
  @apply text-base font-semibold lg:text-lg;
}
h4 {
  @apply text-base font-semibold my-8 text-white;
}
p,
ul {
  font-family: "Work-sans", sans-serif;
  @apply text-sm lg:text-base font-normal;
}
.container {
  @apply w-[90%] max-w-[1400px] mx-auto;
}
.flex-box {
  @apply md:flex md:items-center md:justify-between md:gap-8;
}
.button {
  background: var(--gradient-support);
  @apply text-white text-sm xl:text-lg px-4 py-2 md:px-6 md:py-3 xl:px-8 xl:py-3 font-bold uppercase cursor-pointer;
}
.button:hover {
  box-shadow: 0px 20px 20px 0px rgb(132 144 255 / 30%);
}

.section {
  @apply py-20;
}

.section-title {
  @apply text-black font-bold lg:font-extrabold text-4xl xl:text-5xl relative pb-10 lg:pb-12 mb-10 lg:mb-12;
}
.section-title::before {
  content: "";
  background: var(--helper);
  @apply absolute rounded-full w-3 h-3 bottom-0;
}
.section-title::after {
  content: "";
  background: var(--helper);
  bottom: 5px;
  @apply absolute left-3 w-[150px] xl:w-[200px] h-[3px];
}
.biodata-section p,
.hero-section p,
.services-section p,
.portfolio-section p {
  @apply text-[#777777];
}

.icon {
  background: rgb(144 172 209 / 20%);
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  animation: waterwave 3s infinite;
  @apply cursor-pointer p-3;
}

/* Header Section CSS  */

.header-section {
  box-shadow: 0 3px 5px -3px gray;
  @apply bg-[#F9F9FF] h-20 flex items-center justify-center fixed top-0 left-0 right-0 z-50;
}

.nav-bar {
  @apply flex justify-between items-center;
}
.nav-bar-title {
  @apply flex-shrink-0 text-white text-xl bg-black px-2 font-bold tracking-[0px] ts:tracking-[2px] sm:tracking-[4px];
}
.toggle-button {
  @apply lg:hidden w-10 p-2 border-2 border-black relative z-20;
}
.nav-menu {
  background: var(--gradient);
  @apply w-full h-full fixed left-0 top-0 flex items-center justify-center translate-x-full transition-all duration-1000 z-10 
  lg:w-auto lg:relative lg:translate-x-0
  lg:bg-none;
}
.nav-menu.mobile {
  @apply translate-x-0;
}
.nav-links {
  @apply flex flex-col items-center lg:flex-row;
}
.nav-link {
  @apply my-8 lg:my-0 lg:mx-4 xl:mx-6 font-bold text-3xl lg:font-semibold lg:text-base xl:text-lg uppercase text-center cursor-pointer hover:text-white lg:hover:text-[#8490ff] tracking-wide;
}

/* Footer Section CSS */

.footer-section {
  background: var(--heading);
}

.footer-content {
  @apply flex flex-wrap text-[#adadad];
}

.footer-content li {
  @apply flex items-center my-4;
}
.footer-content li p {
  @apply pl-2 cursor-pointer hover:text-white text-[#ADADAD];
}

.footer-icon {
  @apply w-8 h-8;
}

@keyframes waterwave {
  0% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
}

/* Hero Section CSS */

.hero-section {
  @apply bg-[#F9F9FF];
}
.hero-image {
  @apply mt-6 w-2/3 md:w-4/5 mx-auto;
}

/* Biodata Section CSS */

.biodata-stats {
  @apply relative w-[90%] mb-10;
}
.biodata-progress-bar::before {
  content: "";
  background-color: #e9ecef;
  @apply absolute top-[120%] w-full h-[6px] lg:h-2 rounded-sm;
}
.biodata-progress-bar::after {
  content: "";
  background: var(--gradient);
  @apply absolute top-[120%] left-0 w-[10%] h-[6px] lg:h-2 rounded-sm transition-all ease-in-out duration-[2s];
}
.biodata-progress-bar.active::after {
  @apply w-[95%];
}
.biodata-progress-bar-2.active::after {
  @apply w-[90%];
}
.biodata-progress-bar-3.active::after {
  @apply w-[80%];
}
.biodata-progress-bar-4.active::after {
  @apply w-[70%];
}
.biodata-progress-bar-5.active::after {
  @apply w-[85%];
}
.biodata-skill-bar {
  background: var(--helper);
  @apply absolute top-[200%] left-[95%] -translate-x-1/2 px-[6px] py-[2px] text-white text-[10px] font-bold 
  delay-[2s] transition-all duration-1000 opacity-0;
}
.biodata-skill-bar.active {
  @apply opacity-100;
}
.biodata-skill-bar-2 {
  @apply left-[90%];
}
.biodata-skill-bar-3 {
  @apply left-[80%];
}
.biodata-skill-bar-4 {
  @apply left-[70%];
}
.biodata-skill-bar-5 {
  @apply left-[85%];
}

.biodata-skill-bar::after {
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--helper);
  @apply absolute bottom-full left-1/2 -translate-x-1/2;
}

.biodata-image {
  box-shadow: -15px -15px var(--helper);
  @apply w-1/2 mx-auto md:w-4/5 xl:w-2/3;
}

/* Services Section CSS */

.services-icon {
  border: 1px solid black;
  @apply w-16 h-16 block mx-auto;
}
.service-card {
  box-shadow: var(--shadow);
  @apply rounded-lg text-center py-14 px-6 transition-all duration-300 hover:-translate-y-4;
}

/* Portfolio Section CSS */
.portfolio-section {
  @apply bg-[#F9F9FF];
}
.portfolio-card {
  @apply relative w-full md:w-[45%] xl:w-[30%] overflow-hidden;
}
.portfolio-card:hover .portfolio-card-overlay {
  @apply translate-y-0 bg-opacity-70;
}

.portfolio-card-image {
  @apply w-full h-full rounded-lg;
}
.portfolio-card-overlay {
  @apply absolute bg-black w-full h-full top-0 left-0 translate-y-full transition-all duration-500 text-white;
}
.portfolio-card-overlay-content {
  @apply h-full w-full px-[10%] mx-auto text-center flex flex-col justify-center items-center py-4;
}
.portfolio-card-overlay-title {
  @apply font-bold text-2xl py-4;
}

.portfolio-card-not-active {
  @apply hidden;
}

.portfolio-button.active {
  @apply -translate-y-2 xl:-translate-y-4 transition-all duration-500;
}

/* Counter Section CSS */
.counter-section {
  background: var(--gradient-support);
}
.counter-numbers {
  @apply font-bold text-2xl sm:text-4xl xl:text-5xl;
}

/* Freelance Section CSS */

.freelance-section {
  background: url("../public/freelancer-bg.jpg");
  font-family: "Poppins", sans-serif;
  @apply relative bg-cover bg-no-repeat bg-fixed text-white;
}
.freelance-section::before {
  content: "";
  @apply absolute w-full h-full top-0 bg-[#3e64ff] opacity-60;
}

/* Contact Section CSS */

.contact-section form {
  max-width: 700px;
  margin: 0 auto;
  padding: 32px 0;
}

.contact-section input,
textarea {
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  padding: 12px 20px;
  width: 100%;
}
.contact-section input[type="submit"] {
  width: 200px;
}
